/* Pattern Colors */
:root {
    --color-page: #f2f2f2;
    --color-box: #b9e4e0;
    --color-box-result: #d4f1f0;
    --color-border: #686868;
    --color-focus:green;
    --color-focus-light: #d4f1f0;
    --color-button-delete: #e63946;
    
    --color-title: #2f5144;
    --color-black: #000000;
    --color-white: #ffffff;
}

/* Reset */
* {
    margin:0;
    padding:0;
    box-sizing: border-box
}

/* General CSS */
body {
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 10px;
    background-color: var(--color-page);
}

main {
    background-color: var(--color-box);
    padding: 2rem;
    display:flex;
    flex-direction: column;
    max-width: 400px;
    margin: 2rem auto;
    border-radius: 0.7rem;
    box-shadow: 0.2rem 0.2rem 0.8rem var(--bg-border);
    border: 1px solid var(--color-black);
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: var(--color-title);
}

/* Form Fields */
form {
    margin-bottom: 2rem;
}
.field {
    margin-bottom: 1.5rem;
}
.field label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.field input, .field select {
    width: 100%;
    padding: 0.8rem;
    font-size: 1.4rem;
    border: 1px solid var(--color-border);
    border-radius: 0.5rem;
}
.field input:focus, .field select:focus {
    outline: none;
    border: 0.1rem solid var(--color-focus);
    box-shadow: 0 0 0.5rem var(--color-focus);
    background: (--color-focus-light);
}
.field select option {
    font-size: 1rem;
}
form button {
    width: 100%;
    padding: 0.8rem;
    font-size: 1.2rem;
    background-color: var(--color-focus);
    color: var(--color-white);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
form button:hover {
    background-color: darkgreen;
}

/* List of items */
.list {
    background-color: var(--color-box-result);
    display:flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem;
    border: 1px solid var(--color-border);
    padding: 1rem;
    border-radius: 0.3rem;;
}
.list .separator {
    height: 0.2rem;
    background-color: var(--color-border);
    margin: 0.5rem 0;
}
.list p {
    display:flex;
    justify-content: space-between;
}
.list p .item {
    font-style: italic;
}
.list .total {
    font-weight: 900;
    text-align: right;
}
span button {
    padding: 0 0.7rem;
    background-color: var(--color-button-delete);
    color: var(--color-white);
    border: none;
    border-radius: 0.4em;
    font-size:0.7rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
span button:hover {
    background-color: darkred;
}
