* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height:100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #0d0d0d;
    color: #fff;
}

.input-group {
    margin: 20px 0;
    position: relative;

    label {
        position: absolute;
        transform: translateY(-50%); /*50% ou 100%*/
        top: 50%;
        left:15px;
        font-size: 16px;
        pointer-events: none; /*Retira opção de clique no label*/
        color: gray;
        font-style: italic;
        padding: 0 5px;
        transition: .5s;
    }

    input {
        width: 360px;
        height: 60px;
        font-size: 16px;
        padding: 0 15px;
        border: 1.2px solid gray;
        background: transparent;
        outline: none;
        border-radius: 7px;
        color:#fff;
    }

    input:focus {
        border-color: deepskyblue;
    }

    input:focus~label,
    input:valid~label {
        top: 0;
        font-size: 14px;
        background: #0d0d0d;
        color: deepskyblue;
        font-weight: 800;
    }
}